.jumbotron
  %h1 Bank of Dad
  %p.lead
    Play personal banker for your children!
    %br
    Set up automatic allowances and teach them about saving.
  %p= link_to 'Get started', new_user_registration_path, class: 'btn btn-lg btn-success'