.jumbotron
  %h1 Bank of Dad
  %p.lead
    Play personal banker for your children!
    %br
    Set up automatic allowances and teach them about saving.
  %p= link_to 'Get started', new_user_registration_path, class: 'btn btn-lg btn-success'

.row
  .col-lg-4
    %h2 Personal account
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
  .col-lg-4
    %h2 Saving
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
  .col-lg-4
    %h2 Setting goals
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
