%h2 Interest
- if @customer.account.interest == 0
  %h2.text-danger 0%
- else
  %h2.text-info= "#{@customer.account.interest}%"
  Next:
  %br
  %span.glyphicon.glyphicon-calendar
  = Date::DAYNAMES[Date.today.next_month.beginning_of_month.wday]
  = Date.today.next_month.beginning_of_month
